

.create-user-form {
  min-height: 400px;

  mat-form-field {
    display: block;
    margin-bottom: 12px;
  }

  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 400px;
  }

}
