<div class="create-user-form">
  <form [formGroup]="userForm" *ngIf="(infoLoaded$ | async); else loader" (ngSubmit)="submitForm()">
    <h2>Sign up!</h2>
    <div class="form">
      <!-- Name -->
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name"/>
        <mat-error *ngIf="showError(userForm.get('name'))">{{getErrorMessage(userForm.get('name'))}}</mat-error>
      </mat-form-field>

      <!-- Email -->
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email"/>
        <mat-error *ngIf="showError(userForm.get('email'))">{{getErrorMessage(userForm.get('email'))}}</mat-error>
      </mat-form-field>

      <!-- Password -->
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password"/>
        <mat-error *ngIf="showError(userForm.get('password'))">{{getErrorMessage(userForm.get('password'))}}</mat-error>
      </mat-form-field>

      <!-- Occupation -->
      <mat-form-field >
        <mat-label>Occupation</mat-label>
        <input type="text" matInput formControlName="occupation" [matAutocomplete]="occAuto">
        <mat-autocomplete #occAuto="matAutocomplete">
          <mat-option *ngFor="let occupation of filteredOccupations$ | async" [value]="occupation">
            {{occupation}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <!-- States -->
      <mat-form-field >
        <mat-label>State</mat-label>
        <input type="text" matInput formControlName="state" [matAutocomplete]="statesAuto">
        <mat-autocomplete #statesAuto="matAutocomplete" [displayWith]="displayState">
          <mat-option *ngFor="let state of filteredStates$ | async" [value]="state">
            {{state.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <div>
      <button mat-stroked-button [disabled]="userForm.invalid">Submit</button>
    </div>
  </form>
</div>

<ng-template #loader>
  <div class="loader">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
</ng-template>
